{% extends 'base.html.twig' %}

{% block title %}Hello StudentController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello STUDENT!</h1>
    <table class="table mt-5">
        <th>subject</th>
        <th>time</th>
        <th>date</th>
        <th>location</th>
        <th>duration</th>
        <th>student</th>
    {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.subject }}</td>
            <td>{{ lesson.time|date('H:i:s') }}</td>
            <td>{{ lesson.date|date('d/m/y') }}</td>
            <td>{{ lesson.location }}</td>
            <td>{{ lesson.duration }}</td>
            <td>{{ lesson.student.firstname }}</td>


        </tr>
        </tbody>
    {% endfor %}
    </table>
</div>
{% endblock %}
